*{
    margin: 0px;
    padding: 0px;
}
.logo{
    width:100px;
    height:auto;
    padding:0px 24px;
}
.navbar{
    display: flex;
    /*justify-content: flex-end; /* Aligns content to the right */
    align-items: center;
    background-color: #f8f9fa; /* Light background */
}
.navbar, ul {
    list-style-type: none;
    display: flex;
}
.navbar ul li{
    list-style:none;
    display: inline-block;
    line-height: 20px;
    padding-left: 170px;
}
.banner
{   height:100%;
    width: 100%;
    padding: 32px 24px;
}
.h1{
    padding: 32px 0px 24px 24px;
}
.h1{
    text-align: center;
    padding: 100px 0px 24px 24px;
} 
.p{
    text-align: center;
    padding: 10px 0px 24px 24px;
} 
.informationimg{
    height:100%;
    width: 100%;
    padding: 32px 24px;
}
.buttonpad
{
    margin-left:140px;
}
.mobile{
    height:100%;
    width:130%;
    padding-top: 25px;
}
.h3
{
    text-align: center;
    padding-top: 25px;
    padding-left: 30px;
}
.campus{
    height:100%;
    width:130%;
    padding-top: 25px;
}
.lecture{
    height:100%;
    width:130%;
    padding-top: 25px;
}
.center{
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}
.cards{
    padding: 32px 72px 24px 72px;
}
.cards2{
    padding: 32px 72px 24px 72px;
}
.thesis{
    text-align: center;
}
.vd{
     padding: 32px 24px 24px 24px;
}
.mobil{
    height:90%;
    width:90%;
    padding-top: 32px;
}
.paris{
    height:90%;
    width:90%;
    padding-top: 32px;
}
.h3{
    padding-top: 32px;
}
.lectureh3{
    text-align: center;
    padding-top: 25px;
    padding-left: 30px;
}
.campush3{
    text-align: center;
    padding-top: 25px;
    padding-left: 30px;
}
.h6{
    text-align: center;
    padding-left: 30px;
}